---
import "../styles/global.css";
---
<section class="title">
    <img src="/public/images/icon-star.svg" alt="star">
    <h1>FAQs</h1>
</section>
<section>
    <div class="sub-section un">
        <h2>What is Frontend Mentor, and how will it help me?</h2>
        <img class="imgplus1" src="/public/images/icon-plus.svg" alt="icon-plus to FrontEndMentor.io">
        <img class="img1" src="/public/images/icon-minus.svg" alt="icon-minus to FrontEndMentor.io">
    </div>
    <p class="para1">
        Frontend Mentor offers realistic coding challenges to help developers improve their
        frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for
        all levels and ideal for portfolio building.
    </p>
</section>
<section>
    <div class="sub-section deux">
        <h2>Is Frontend Mentor free?</h2>
        <img class="imgplus2" src="/public/images/icon-plus.svg" alt="icon-plus to FrontEndMentor.io">
        <img class="img2" src="/public/images/icon-minus.svg" alt="icon-minus to FrontEndMentor.io">
    </div>
    <p class="para2">
        Yes, Frontend Mentor offers both free and premium coding challenges, with the free
        option providing access to a range of projects suitable for all skill levels.
    </p>
</section>
<section>
    <div class="sub-section trois">
        <h2>Can I use Frontend Mentor projects in my portfolio?</h2>
        <img class="imgplus3" src="/public/images/icon-plus.svg" alt="icon-plus to FrontEndMentor.io">
        <img class="img3" src="/public/images/icon-minus.svg" alt="icon-minus to FrontEndMentor.io">
    </div>
    <p class="para3">
        Yes, you can use projects completed on Frontend Mentor in your portfolio. It's an excellent
        way to showcase your skills to potential employers!
    </p>
</section>
<section>
    <div class="sub-section quatre">
        <h2>How can I get help if I'm stuck on a Frontend Mentor challenge?</h2>
        <img class="imgplus4" src="/public/images/icon-plus.svg" alt="icon-plus to FrontEndMentor.io">
        <img class="img4" src="/public/images/icon-minus.svg" alt="icon-minus to FrontEndMentor.io">
    </div>

    <p class="para4">
        The best place to get help is inside Frontend Mentor's Discord community. There's a help
        channel where you can ask questions and seek support from other community members.
    </p>
</section>